@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@



<body>
    @*<h1>About Venue Management Web App</h1>*@

    <h3>Theme and Purpose</h3>
    <p>Venue Management Web App is a cutting-edge web application designed to streamline the management of venues. Whether you are organizing events, booking spaces, or simply keeping track of your favorite locations, our app is here to assist you every step of the way. With a focus on user-friendly design and robust functionality, we aim to empower users like you to effortlessly handle all your venue-related needs.</p>

    <h3>About the Developer</h3>
    <p>WEB524 - Winter 2023 is a project developed by Hamit Sehjal. Hamit is a skilled developer and designer who brought this web app to life. With a deep understanding of modern web development practices and a passion for delivering exceptional user experiences, Hamit is proud to present this project as a result of his hard work and dedication.</p>

    <p>On this About page, you will find relevant information about our web app, including its purpose and the person behind it. We encourage you to explore the various sections and features of Venue Management Web App to fully experience its capabilities.</p>

    <p>Whether you're a professional event organizer, a small business owner, or simply someone who enjoys discovering new venues, Venue Management Web App is tailored to meet your specific requirements. Our goal is to provide you with a powerful tool that enhances your venue management endeavors, helping you save time and maximize efficiency.</p>

    <p>Thank you for choosing [Web App Name] as your go-to venue management solution. We appreciate your support and trust in our product. If you have any questions or feedback, please don't hesitate to reach out to us through the provided contact information. We value your input and are committed to continuously improving [Web App Name] based on user needs and suggestions.</p>

    <p>Enjoy exploring the app and making the most of its features!</p>

    <footer>
        <p>- Hamit Sehjal - Seneca PolyTechnic</p>
    </footer>
</body>


