@{
    ViewBag.Title = "Contact Me!!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1750 Finch Ave E<br />
    North York, ON M2J 2X5<br />
    <abbr title="Phone">P:</abbr>
    647.916.2228
</address>


<address>
    <strong>Collaborations:</strong>   <a href="mailto:hamitsehjal26@gmail.com">hamitsehjal26@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:hamit.sehjal@senecacollege.ca">hamit.sehjal@senecacollege.ca</a>
</address>