@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Hamit Sehjal</h1>
    <p class="lead">The web app aims to enable users to perform common interaction patterns for managing Venue objects in a web-based application with a persistent store.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            Welcome to Venue Management Web App! This application allows you to effortlessly manage and organize various venues. From adding new venues to editing and deleting existing ones, our app provides a seamless experience for all your venue management needs.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use the App</h2>
        <p>
            To get started, simply sign up for an account or log in if you already have one. Once logged in, you'll be able to access the full functionality of the app. 
            
            <p>Use the navigation menu to explore different sections of the app and perform various actions.

                <ul>
                    <li>"Get All": View a comprehensive list of all venues in the app.</li>
                    <li> "Get One": Retrieve detailed information about a specific venue.</li>
                    <li> "Add New": Easily add a new venue to the app by providing the necessary details.</li>
                    <li>"Edit Existing": Modify the information of an existing venue to keep it up to date.</li>
                    <li>"Delete Existing": Remove a venue from the app when it is no longer relevant.</li>
                </ul>
           
            </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accessing Functionality</h2>
        <p>
            Our web app is designed to be user-friendly and intuitive. You can access the app from any modern web browser on your computer, tablet, or smartphone. Simply visit our app and log in to start managing your venues seamlessly.
            
            <p>If you have any questions or need assistance, feel free to reach out to our support team through the provided contact details.

            Remember, our Venue Management Web App is here to simplify your venue management tasks. Enjoy the convenience and efficiency it offers, and let us handle the heavy lifting for you!
            </p>
        <p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>